SPRING_DATASOURCE_URL=jdbc:postgresql://....../
SPRING_DATASOURCE_USERNAME=....
SPRING_DATASOURCE_PASSWORD=....
AWS_COGNITO_REGION=us-east-1
AWS_COGNITO_USER_POOL_ID=us-east-1_XXXXXXXX
AWS_COGNITO_CLIENT_ID=your_app_client_id
AWS_COGNITO_CLIENT_SECRET=your_app_client_secret
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=...